body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    width: 100%;
}

.container {
    max-width: 1200px;
    background: var(--light);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.search-box {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
    margin-right: 0.5rem;
}

.add-new-user{
    margin-bottom: 2rem;
    margin-left: auto ;
}
.add-new-user,.search-button,
.filter-button,
.export-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: hsl(244, 85%, 64%);
    color: #fff;
    cursor: pointer;
    margin-left: 0.5rem;
}

.search-button:hover,
.filter-button:hover,
.export-button:hover {
    background-color: hsl(244, 85%, 54%);
}

.payment-table {
    width: 100%;
    border-collapse: collapse;
}

.payment-table th,
.payment-table td {
    text-align: left;
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
}

.payment-table th {
    background-color: #f1f1f1;
}

.payment-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.status {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-size: 0.875rem;
}

.status.pending {
    background-color: #ffefc1;
    color: #8a6d3b;
}

.status.paid {
    background-color: hsl(244, 85%, 74%);
    color: #fff;
}

.delete-user {
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 5px;
    background-color:rgb(231, 50, 37);
    color: #fff;
    cursor: pointer;
}

.delete-user:hover {
    background-color: red;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.pagination {
    display: flex;
    align-items: center;
}

.page-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    margin-left: 0.25rem;
    cursor: pointer;
}

.page-button:hover {
    background-color: hsl(244, 85%, 64%);
    color: #fff;
}

.page-button.active {
    background-color: hsl(244, 85%, 64%);
    color: #fff;
}
